<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
    {% include 'bootstrap.css.frag' %}
    <style>
        table {
            border-collapse: collapse;
            border: 2px solid rgb(140 140 140);
        }

        th,
        td {
            border: 1px solid rgb(160 160 160);
            padding: 8px 10px;
        }

        tbody>tr>th {
            background-color: rgb(201, 201, 201);
        }
    </style>
</head>

<body>
    {% include 'header.frag.html' %}

    <main>
        <div class="container">
            <div class="container">
                {% include 'flashed_messages.frag.html' %}
                <form action="/api/entries/create" method="post">
                    <label>UserID
                    <input id="add-user" id="add-user" name="userid"/></label>
                    <input id="add-start" name="startedAt" type="datetime-local" value="">
                    <input id="add-end" name="endedAt" type="datetime-local" value="">
                    <button type="submit" class="btn btn-outline-success">Add time</button>
                </form>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Started At</th>
                            <th scope="col">Ended At</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{tableBody|safe}}
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <script>
        function toDateInputValue(dateObject){
            const local = new Date(dateObject);
            local.setMinutes(dateObject.getMinutes() - dateObject.getTimezoneOffset());
            return local.toJSON().slice(0,19);
        };

        let now = new Date();
        now.setMilliseconds(0)
        now.setSeconds(0)
        document.getElementById('add-start').value = toDateInputValue(now)
        document.getElementById('add-end').value = toDateInputValue(now)

        // async function updateUserList() {
        //     let usersReq = await fetch("/api/users")
        //     let json = await usersReq.json()
        //     let usersEl = document.getElementById("users")
        //     for (let name of json.map(u=>u.name)) {
        //         // usersEl.appendChild(`<option value="${name}"></option>`)
        //         usersEl.appendChild(new Option("", name))
        //     }
        // }
        // document.onload = updateUserList

        async function updateEntry(element) {
            let tr = element.parentElement.parentElement
            let id = parseInt(tr.dataset["id"])
            let body = {
                id: id,
                startedAt: tr.querySelector('input[name="startedAt"]')?.value,
                endedAt: tr.querySelector('input[name="endedAt"]')?.value,
            }
            await fetch("/api/entries/update", { method: "POST", headers: { "Content-Type": "application/json" }, body: JSON.stringify(body) })
            location.reload()
        }

        async function deleteEntry(element) {
            let tr = element.parentElement.parentElement
            let id = parseInt(tr.dataset["id"]) 
            let body = {
                id: id,
            }
            await fetch("/api/entries/delete", { method: "POST", headers: { "Content-Type": "application/json" }, body: JSON.stringify(body) })
            location.reload()
        }
    </script>
</body>

</html>