<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance - Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    <main>

        <div class="container">

            <h1>Login</h1>

            <br>
            <div class="container">
                <form action="/login" method="post">
                    <div>
                        <label for="userid">User</label>
                        <input type="text" class="form-control" id="userid" name="userid" placeholder="User"
                            autocomplete="off" autofocus>
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                            autocomplete="off" autofocus>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            {% include 'flashed_messages.frag.html' %}
        </div>
    </main>
</body>

</html>