<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    {% include 'header.frag.html' %}

    <main>

        <div class="container">
            {% include 'flashed_messages.frag.html' %}
            <form action="/users/edit/update" method="post">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Submit changes</button>
                </div>
                <textarea autocapitalize="off" autocomplete="off" autocorrect="off" cols="80" rows="15" name="data"
                    style="font-family: monospace">{{users}}</textarea>
            </form>
        </div>
    </main>
</body>

</html>